<% layout('/layouts/boilerplate.ejs') %>

<body>
    <div class="row row-cols-lg-3 row-cols-sm-3 row-cols-xs-2  "  >
    <% for(let listing of allListing) { %>
        <div class="card cols mx-auto container-fluid" style="width: 20rem; ">
            <a href="/listings/<%= listing._id %>" class="card-link">
                
            <img src="<%= listing.image %>" class="card-img-top" alt="listing_image"   >
            <div class="card-body">
              <div class="card-text">
              <b><p style="font-size: large;"><%= listing.title %></p></b>
              <p>&#8377;<b> <%= listing.price.toLocaleString('en-IN')%></b>/night</p>
              <p><%= listing.location %></p>
              </div>
              
           </div>
        </a>
      </div>
    <% } %>
  </div>

</body>
